.home{
    display: flex;
    min-height:100vh ;

    .homeContainer{
        flex:6 ;
        background-color: #f8f9fa;
        padding: 10px 20px;

        .upcoming-title{
            display: flex;
            padding: 10px;
            align-items: center;

            p{
                font-size: 40px;
                font-weight: bold;
                color: #2c2c2c;
            }
            span{
                height: 35px;
                width: 55px;
                background-color: #f0f0f0;
                border: 1px solid #e6eee6;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: normal;
                font-size: 30px;

            }
        }
        .home-top{
            padding: 15px;
        }
        .home-bottom{
            display: flex;
            padding: 20px;
            gap: 10px;

            .home-left,
            .home-right{
                flex: 1;
                padding: 15px;
                background-color: #ffffff;
                border-radius: 8px;
            }
        }
    }
}